@import "variable.styl"

body, html
  line-height: 1
  font-family: '微软雅黑'
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text
  height:100%
  width:100%
  overflow:hidden
