// 颜色定义规范
$color-background = #fff
$color-background-e = #222
$color-background-a = rgba(0, 0, 0, 0.6)
$color-background-d = #ddd
$color-background-g =#666
$color-background-y = #ffbc03
$color-border-d = rgba(0, 0, 0, 0.1)
$color-border = #ccc
$color-dialog-background = #333


$color-theme = #ffc50a
$color-theme-d = rgba(255, 205, 49, 0.5)

$color-text = #222
$color-text-b = #fff
$color-text-d = #999
$color-text-g = #666
$color-text-h = #333
$color-text-e = #222
$color-text-l = rgba(0, 0, 0, 0.3)
$color-text-ll = rgba(255, 255, 255, 0.7)
$color-text-blue = #1E7099

//字体定义规范
$font-size-small-s = 18px
$font-size-small = 20px
$font-size-medium = 22px
$font-size-medium-x = 24px
$font-size-large = 28px
$font-size-large-x = 30px
